<ActionBar class="action-bar" backgroundColor="#00a5ff">
  <NavigationButton ios:visibility="collapsed"></NavigationButton>
  <Label
    class="action-bar-title"
    text="Search Fund"
    color="white"
    horizontalAlignment="center"
  ></Label>
</ActionBar>

<GridLayout
  class="page page-content"
  backgroundColor="lightgray"
  width="100%"
  height="100%"
>
  <RadListView
    height="100%"
    width="95%"
    backgroundColor="lightgray"
    [items]="cars"
    (itemTap)="onCarItemTap($event)"
  >
    <ng-template tkListItemTemplate let-car="item">
      <GridLayout
        backgroundColor="white"
        marginTop="10"
        height="120"
        width="100%"
        borderRadius="5"
      >
        <GridLayout rows="auto,auto" height="100%" width="100%">
          <GridLayout row="0" width="100%" height="50%" columns="auto,auto">
            <GridLayout col="0" width="80%" height="100%" rows="auto,auto">
              <GridLayout height="40%" width="100%">
                <Label
                  row="0"
                  marginLeft="10"
                  verticalAlignment="middle"
                  text="L&T Large and Midcap Fund"
                  fontSize="16"
                  color="#00a5ff"
                ></Label>
              </GridLayout>
              <GridLayout
                row="1"
                marginLeft="10"
                height="60%"
                width="100%"
                columns="auto,auto,auto"
              >
                <GridLayout col="0" width="10%" height="100%">
                  <Image src="res://gicon" stretch="aspectFit"></Image>
                </GridLayout>
                <GridLayout col="1" width="10%" height="100%">
                  <Image src="res://dicon" stretch="aspectFit"></Image>
                </GridLayout>
                <GridLayout col="2" width="80%" height="100%">
                  <Label
                    marginLeft="10%"
                    verticalAlignment="middle"
                    text="Diversified"
                    color="#696969"
                  ></Label>
                </GridLayout>
              </GridLayout>
            </GridLayout>
          </GridLayout>
          <GridLayout
            row="1"
            columns="auto,auto,auto,auto"
            width="100%"
            height="50%"
          >
            <GridLayout col="0" rows="auto,auto" width="25%" height="100%">
              <GridLayout
                row="0"
                columns="auto,auto"
                width="90%"
                height="50%"
                horizontalAlignment="center"
              >
                <GridLayout
                  col="0"
                  width="25%"
                  height="40%"
                  marginLeft="5%"
                  verticalAlignment="middle"
                >
                  <Image src="res://redicon" stretch="aspectFit"></Image>
                </GridLayout>
                <GridLayout col="1" width="70%" height="100%">
                  <Label
                    horizontalAlignment="center"
                    verticalAlignment="middle"
                    text="-13.5%"
                    fontSize="14"
                    color="black"
                  ></Label>
                </GridLayout>
              </GridLayout>
              <GridLayout
                row="1"
                width="90%"
                height="50%"
                horizontalAlignment="center"
              >
                <Label
                  horizontalAlignment="center"
                  verticalAlignment="Top"
                  horizontalAlignment="center"
                  text="Return(1 Yr.)"
                  fontSize="12"
                  color="#696969"
                ></Label>
              </GridLayout>
            </GridLayout>
            <GridLayout
              col="1"
              rows="auto,auto"
              width="25%"
              height="100%"
            >
              <GridLayout
                row="0"
                columns="auto,auto"
                width="90%"
                height="50%"
                horizontalAlignment="center"
              >
                <GridLayout
                  col="0"
                  width="25%"
                  height="40%"
                  marginLeft="5%"
                  verticalAlignment="middle"
                >
                  <Image src="res://orangeicon" stretch="aspectFit"></Image>
                </GridLayout>
                <GridLayout col="1" width="70%" height="100%">
                  <Label
                    horizontalAlignment="center"
                    verticalAlignment="middle"
                    text="11.4%"
                    fontSize="14"
                    color="black"
                  ></Label>
                </GridLayout>
              </GridLayout>
              <GridLayout
                row="1"
                width="90%"
                height="50%"
                horizontalAlignment="center"
              >
                <Label
                  horizontalAlignment="center"
                  verticalAlignment="Top"
                  horizontalAlignment="center"
                  text="Sharpe(3 Yr.)"
                  fontSize="12"
                  color="#696969"
                ></Label>
              </GridLayout>
            </GridLayout>
            <GridLayout
              col="2"
              rows="auto,auto"
              width="25%"
              height="100%"
            >
              <GridLayout
                row="0"
                columns="auto,auto"
                width="90%"
                height="50%"
                horizontalAlignment="center"
              >
                <GridLayout
                  col="0"
                  width="25%"
                  height="40%"
                  marginLeft="5%"
                  verticalAlignment="middle"
                >
                  <Image src="res://yellowicon" stretch="aspectFit"></Image>
                </GridLayout>
                <GridLayout col="1" width="70%" height="100%">
                  <Label
                    horizontalAlignment="center"
                    verticalAlignment="middle"
                    text="2.4%"
                    fontSize="14"
                    color="black"
                  ></Label>
                </GridLayout>
              </GridLayout>
              <GridLayout
                row="1"
                width="90%"
                height="50%"
                horizontalAlignment="center"
              >
                <Label
                  horizontalAlignment="center"
                  verticalAlignment="Top"
                  horizontalAlignment="center"
                  text="Return(1 Yr.)"
                  fontSize="12"
                  color="#696969"
                ></Label>
              </GridLayout>
            </GridLayout>
            <GridLayout
              col="3"
              rows="auto,auto"
              width="25%"
              height="100%"
            >
              <GridLayout
                row="0"
                columns="auto,auto"
                width="90%"
                height="50%"
                horizontalAlignment="center"
              >
                <GridLayout
                  col="0"
                  width="25%"
                  height="40%"
                  marginLeft="5%"
                  verticalAlignment="middle"
                >
                  <Image src="res://greenicon" stretch="aspectFit"></Image>
                </GridLayout>
                <GridLayout col="1" width="70%" height="100%">
                  <Label
                    horizontalAlignment="center"
                    verticalAlignment="middle"
                    text="0.38%"
                    fontSize="14"
                    color="black"
                  ></Label>
                </GridLayout>
              </GridLayout>
              <GridLayout
                row="1"
                width="90%"
                height="50%"
                horizontalAlignment="center"
              >
                <Label
                  horizontalAlignment="center"
                  verticalAlignment="Top"
                  horizontalAlignment="center"
                  text="Risk(2 Yr.)"
                  fontSize="12"
                  color="#696969"
                ></Label>
              </GridLayout>
            </GridLayout>
          </GridLayout>
        </GridLayout>
        <!-- <Image row="2" [src]="car.imageUrl" stretch="aspectFill" height="120" class="m-r-20"></Image>
                    <StackLayout row="2" col="1" verticalAlignment="center" class="list-group-item-text">
                        <Label class="p-b-10">
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf1b9;   " class="fa text-primary"></Span>
                                <Span [text]="car.class"></Span>
                            </FormattedString>
                        </Label>
                        <Label class="p-b-10">
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf085;   " class="fa text-primary"></Span>
                                <Span [text]="car.transmission"></Span>
                                <Span text=" Transmission"></Span>
                            </FormattedString>
                        </Label>
                        <Label>
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf2dc;   " class="fa text-primary"></Span>
                                <Span [text]="car.hasAC ? 'Yes' : 'No'"></Span>
                            </FormattedString>
                        </Label>
                    </StackLayout> -->
        <!-- </GridLayout> -->
      </GridLayout>
    </ng-template>
  </RadListView>

  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>
